ATLASSIAN_E2E=1
ATLASSIAN_CONFIG_FILE=/path/to/config.toml
ATLASSIAN_E2E_JIRA_PROJECT=DEMO
ATLASSIAN_E2E_JIRA_ISSUE_TYPE=DEMO
ATLASSIAN_E2E_CONFLUENCE_SPACE=~example-user
ATLASSIAN_E2E_CONFLUENCE_PARENT_PAGE=example-user-id
ATLASSIAN_E2E_BITBUCKET_PROJECT=DEMO
ATLASSIAN_E2E_BITBUCKET_CREATE_PROJECT=DEMO
ATLASSIAN_E2E_BITBUCKET_REPO=example-repo
ATLASSIAN_E2E_BITBUCKET_EXISTING_REPO=example-repo
